###############################################################################
# 0) use "git add -n ." to check what could be added, but not really added
###############################################################################

###############################################################################
# 1) Ignore everything by default
###############################################################################
*

###############################################################################
# 2) Allow root files we want
###############################################################################
!.gitignore
!README.md

###############################################################################
# 3) Allow the top-level folders
###############################################################################
!SCORE/

###############################################################################
# 4) IMPORTANT: allow all subdirectories under them (so Git can descend)
###############################################################################
!SCORE/**/

###############################################################################
# 5) In those trees, allow ONLY these extensions (any depth)
###############################################################################
!SCORE/**/*.tex
!SCORE/**/*.bib
!SCORE/**/*.bst
!SCORE/**/*.cls
!SCORE/**/*.v
!SCORE/**/_CoqProject
!SCORE/**/*.bat

###############################################################################
# 6) EXCLUDED FOLDERS
###############################################################################
